* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eafaed;
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin: 2.5rem;
  border-radius: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 95vh;
  max-width: 30rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.heading {
  font-size: 2rem;
}

.inputSearch {
  height: 2.5rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  padding: 0 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
